@import url("https://fonts.googleapis.com/css2?family=Rubik:wght@400;500&display=swap");
body {
  font-family: 'Rubik', sans-serif;
  font-size: 16px;
  font-weight: 300;
  line-height: 1.4;
  margin: 0;
  padding: 0;
  color: #2D3138; }

h1, h2, h3, h4, h5, h6 {
  font-weight: 500;
  letter-spacing: .3px; }

section {
  padding-top: 50px;
  padding-bottom: 50px; }

.page-header {
  background-color: #FFE1EC;
  padding-left: 30px;
  padding-right: 30px; }
  .page-header h1 {
    margin: 0 auto;
    margin-top: 50px;
    font-size: 2em;
    color: #303778; }

@media only screen and (min-width: 768px) {
  .page-header {
    padding-left: 60px;
    padding-right: 60px; }
    .page-header h1 {
      font-size: 2.6em; } }

footer {
  background: #303778;
  color: white;
  padding-left: 30px;
  padding-right: 30px;
  padding-top: 50px;
  padding-bottom: 50px;
  font-size: 14px; }
  footer .footer-brand h4 {
    margin: 0;
    font-size: 1.5em; }
  footer .footer-brand p {
    margin-top: 5px; }
  footer .footer-details {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start; }
    footer .footer-details .footer-left {
      margin-bottom: 20px; }
      footer .footer-details .footer-left nav ul {
        list-style-type: none;
        margin: 0;
        padding: 0;
        display: flex;
        flex-direction: column;
        margin-right: 40px; }
        footer .footer-details .footer-left nav ul li {
          padding-top: 5px; }
    footer .footer-details .footer-right {
      display: flex;
      flex-direction: column; }

@media only screen and (min-width: 1028px) {
  footer {
    padding-left: 60px;
    padding-right: 60px; }
    footer .footer-details {
      flex-direction: row;
      justify-content: space-between;
      align-items: center; }
      footer .footer-details .footer-left {
        margin-bottom: 0px; }
        footer .footer-details .footer-left nav ul {
          flex-direction: row;
          align-items: center; }
          footer .footer-details .footer-left nav ul li {
            padding-left: 20px;
            padding-right: 20px; }
            footer .footer-details .footer-left nav ul li:first-child {
              padding-left: 0; }
      footer .footer-details .footer-right {
        flex-direction: row;
        align-items: center; }
        footer .footer-details .footer-right .last-updated-text {
          margin-left: 10px; } }

header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding-left: 30px;
  padding-right: 30px; }
  header nav {
    display: flex;
    flex-direction: row;
    align-items: center; }
    header nav ul {
      list-style-type: none;
      margin: 0;
      padding: 0;
      display: flex;
      flex-direction: row;
      margin-right: 40px; }
      header nav ul li {
        padding: 30px; }

@media only screen and (min-width: 768px) {
  header {
    padding-left: 60px;
    padding-right: 60px; } }

.legal-version {
  margin: 0;
  font-size: .8em;
  color: #303778;
  margin-bottom: .5em; }

.legal-section {
  margin-bottom: 100px;
  padding-left: 30px;
  padding-right: 30px; }

.legal {
  counter-reset: section;
  max-width: 70ch;
  margin: 0 auto; }
  .legal ol {
    counter-reset: clause;
    list-style: none outside none;
    text-indent: -2em; }
    .legal ol li {
      counter-increment: clause;
      list-style: none outside none;
      text-indent: -2.3em;
      margin-bottom: 1em;
      margin-top: 2em; }
      .legal ol li:before {
        content: counters(clause, ".") ". ";
        margin: 0 0.5em 0 0; }
      .legal ol li p {
        padding-left: 2.4em;
        text-indent: 0; }
      .legal ol li ol li {
        margin-top: 1em; }
  .legal .specialgroup {
    padding-top: 2em; }

.schedule {
  max-width: 70ch;
  margin: 0 auto; }
  .schedule ol li {
    margin-bottom: 1em;
    margin-top: 2em; }
    .schedule ol li:before {
      margin: 0 0.5em 0 0; }
    .schedule ol li ol li {
      margin-top: 1em; }

@media only screen and (min-width: 768px) {
  .legal-section {
    padding-left: 60px;
    padding-right: 60px; } }
