@import url("https://fonts.googleapis.com/css2?family=Rubik:wght@400;500&display=swap");

$redeem-pink: #ffe1ec;
$redeem-blue: #303778;
$redeem-white: #fcfdff;
$redeem-lightblue: #198df5;
$mobile-horizontal-padding: 30px;
$desktop-horizontal-padding: 60px;
$body-text: #2d3138;

body {
  font-family: "Rubik", sans-serif;
  font-size: 16px !important;
  font-weight: 400;
  margin: 0;
  padding: 0;
  color: $body-text;
  box-sizing: border-box;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: 500;
  letter-spacing: 0.3px;
  line-height: 140%;
}

p,
a,
li {
  font-size: 16px;
  font-weight: 400;
  line-height: 1.5 !important;
}

section {
  padding-top: 50px;
  padding-bottom: 50px;
  margin: 0 auto;
  box-sizing: border-box;

  > div {
    max-width: 1140px;
    width: 100%;
    margin: 0 auto;
    box-sizing: border-box;
  }
}

a {
  text-decoration: none;
  color: $redeem-lightblue;

  &:visited,
  :active {
    color: $redeem-lightblue;
  }

  &:hover {
    color: lighten($redeem-lightblue, 15%);
  }
}

.page-header {
  background-color: $redeem-pink;
  padding-left: $mobile-horizontal-padding;
  padding-right: $mobile-horizontal-padding;

  h1 {
    margin: 0 auto;
    margin-top: 50px;
    font-size: 2em;
    color: $redeem-blue;
  }

  h2 {
    margin: 0 auto;
    margin-top: 10px;
    margin-bottom: 30px;
    font-size: 1.2em;
    color: $redeem-blue;
  }
}

.doc-version {
  margin: 0;
  font-size: 0.8em;
  color: $redeem-blue;
  margin-bottom: 0.5em;
}

.sgds-masthead {
  box-sizing: border-box;
  padding-left: $mobile-horizontal-padding;
  padding-right: $mobile-horizontal-padding;

  a {
    color: #484848;
    font-size: 12px;
  }
}

@media only screen and (min-width: 768px) {
  .sgds-masthead {
    box-sizing: border-box;
    padding-left: $desktop-horizontal-padding;
    padding-right: $desktop-horizontal-padding;
  }

  .page-header {
    padding-left: $desktop-horizontal-padding;
    padding-right: $desktop-horizontal-padding;

    h1 {
      font-size: 2.6em;
    }
  }
}
