@import url('https://fonts.googleapis.com/css2?family=Rubik:wght@400;500&display=swap');

$redeem-pink: #FFE1EC;
$redeem-blue: #303778;
$mobile-horizontal-padding: 30px;
$desktop-horizontal-padding: 60px;
$body-text: #2D3138;

body{
  font-family: 'Rubik', sans-serif;
  font-size: 16px;
  font-weight: 300;
  line-height: 1.4;
  margin: 0;
  padding: 0;
  color: $body-text;
}

h1,h2,h3,h4,h5,h6{
  font-weight: 500;
  letter-spacing: .3px;
}

section{
  padding-top: 50px;
  padding-bottom: 50px;
}

.page-header{
  background-color: $redeem-blue;
  padding-left: $mobile-horizontal-padding;
  padding-right: $mobile-horizontal-padding;

  h1{
    margin: 0 auto;
    margin-top: 50px;
    font-size: 2em;
    color: white;
  }
}


@media only screen and (min-width: 768px) {
  .page-header{
    padding-left: $desktop-horizontal-padding;
    padding-right: $desktop-horizontal-padding;

    h1{
      font-size: 2.6em;
    }
  }

}
