.faq-header-container {
  background: $primary-200;
  padding-top: 3em;
  padding-bottom: 3em;
  h1 {
    color: $primary-500;
  }
  .row {
    align-items: center;
    div {
      margin-bottom: 24px;
    }
  }
}

.faq-body-container {
  padding-top: 4em;
  padding-bottom: 4em;
  a {
    text-decoration: underline;
    color: $primary-500;
    &:hover {
      color: $primary-600;
    }
  }

  .faq-note {
    max-width: 80ch;
    margin: 0 auto;
    padding-bottom: 30px;
  }

  .faq-group {
    max-width: 80ch;
    margin: 0 auto;
    padding-bottom: 80px;

    h3 {
      font-size: 2em;
      color: $primary-500;
      margin-bottom: 30px;
    }

    .all-questions {
      .question-answer-group {
        label {
          margin: 0;
          padding: 0;
        }
        input {
          display: none;
        }
        .question {
          display: flex;
          font-weight: bold;
          width: 100%;
          cursor: pointer;
          background: $primary-100;
          padding-left: 48px;
          padding-right: 48px;
          padding-top: 24px;
          padding-bottom: 24px;
          margin-bottom: 10px;
          border-radius: 8px;
          .icon {
            display: flex;
            width: 20px;
            height: 20px;
            background: url("img/bx-chevron-right.svg") no-repeat center center;
            background-size: 15px 15px;
            margin-right: 10px;
            transition: all 0.3s ease-out;
          }
          span {
            color: $primary-500;
            width: 95%;
          }
        }

        .answer {
          box-shadow: 0px 0px 10px rgba(216, 222, 235, 0.5);
          border-radius: 8px;
          display: none;
          padding-left: 48px;
          padding-right: 48px;
          padding-top: 24px;
          padding-bottom: 24px;
          margin-bottom: 10px;
          visibility: hidden;
          p {
            padding: 10px 0px;
          }

          img {
            width: 100%;
            max-width: 320px;
            height: auto;

            &.img-full {
              width: 100%;
              max-width: 100%;
              height: auto;
            }
          }
        }

        // when input is checked
        input:checked {
          & ~ .answer {
            display: block;
            visibility: visible;
            padding-top: 10px;
            max-height: 3000px;
            opacity: 100%;
            transition: all 0.3s ease-out;
          }

          ~ .question {
            .icon {
              transform: rotate(90deg);
              transition: all 0.3s ease-out;
            }
          }
        }
      }
    }
  }
}
