
$faq-section-bg:  #EFF3F6;
$faq-qn-bg:       #E0E4EB;
$faq-qn:          #4B535E;
$faq-anw:         $body-text;

.faq-section{
  padding-bottom: 100px;
  padding-left: $mobile-horizontal-padding;
  padding-right: $mobile-horizontal-padding;
  background: $faq-section-bg;

  .faq-group{
    max-width: 80ch;
    margin: 0 auto;
    padding-bottom: 40px;

    h3{
      font-size: 2em;
      color: $redeem-blue;
    }

    .all-questions{
      background: white;
      border-radius: 10px;
      -webkit-box-shadow: 0px 1px 3px 0px rgba(0,0,0,0.35);
      -moz-box-shadow: 0px 1px 3px 0px rgba(0,0,0,0.35);
      box-shadow: 0px 1px 3px 0px rgba(0,0,0,0.35);



      .question-answer-group{
        box-sizing: border-box;
        border-bottom: #E0E4EB 1px solid;
        padding-left: 20px;
        padding-right: 20px;
        padding-top: 20px;
        padding-bottom: 20px;



        &:last-child {
          border-bottom: none;
        }

        .question{
          display: flex;
          justify-content: flex-start;
          align-items: flex-start;

          font-weight: bold;
          width: 100%;
          color: $redeem-blue;

          i{
            font-size: 1.2em;
            margin-right: 8px;
            color: $redeem-blue;
          }
        }
        .answer{
          color: $faq-anw;
          display: block;
          padding-left: 28px;
          padding-right: 28px;
          padding-top: 10px;


          img{
            width: 320px;
            max-width: 100%;
            height: auto;
          }

        }


        &.hidden{
          .answer{
            display: none;
          }
        }
      }

    }

  }
}
