header{
  padding-left: $mobile-horizontal-padding;
  padding-right: $mobile-horizontal-padding;
  background: $redeem-blue;
  color: white;
  box-sizing: border-box;

  .header-container{
    margin: 0 auto;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    height: 80px;
    padding-top: 20px;
    box-sizing: border-box;

    .logo{

      a{
        img{
          height: 24px;
        }
      }

    }

    a{
      text-decoration: none;
      color: $redeem-white;

      &:hover{
        color: $redeem-white;
      }

      &:visited{
        color:$redeem-white;
      }

      &:active{
        color: $redeem-white;
      }

    }

    nav{
      display: flex;
      flex-direction: row;
      align-items: center;

      ul{
        list-style-type: none;
        margin: 0;
        padding: 0;
        display: flex;
        flex-direction: row;
        visibility: hidden;

        li{
          padding: 0px;

          &:last-child{
            padding-right: 0;
          }

        }


      }

      .login-button{
        margin-left: 0px;
      }
    }
  }
}

@media only screen and (min-width: 768px) {
  header{
    padding-left: $desktop-horizontal-padding;
    padding-right: $desktop-horizontal-padding;

    .header-container{
      padding-top: 0px;
      nav{
        ul{
          visibility: visible;
          li{
            padding: 30px;
          }

        }

        .login-button{
          margin-left: 40px;
        }
      }

    }

  }

}
