.legal-header-container {
  background: $redeem-pink;
  padding-top: 3em;
  padding-bottom: 3em;
  h1 {
    margin: 0 auto;
    margin-top: 50px;
    font-size: 2.6em;
    color: $redeem-blue;
    font-weight: 500;
    letter-spacing: 0.3px;
    line-height: 140%;
  }
}

.legal-body-container {
  $numbering-width: 3em;
  $vertical-margin: 3em;

  margin-top: 3em;
  margin-bottom: 3em;

  .legal {
    max-width: 80ch;
    margin: 0 auto;
    // padding-left: 30px;
    // padding-right: 30px;

    * {
      box-sizing: border-box;
    }

    .legal-section {
      margin-bottom: 5em;

      h2,
      h3,
      h4,
      h5 {
        margin-top: 0;
        margin-bottom: 1em;
        text-align: center;
      }
    }

    .center {
      text-align: center;
    }

    .spacing-top {
      margin-top: 3em;
    }

    .clause-set-child-group {
      margin-left: $numbering-width;
      margin-bottom: $vertical-margin;
    }

    .clause-set {
      display: flex;
      flex-direction: row;
      justify-content: flex-start;
      align-items: flex-start;

      margin-top: 1em;
      margin-bottom: 1em;

      .clause-numbering {
        flex: 0 0 $numbering-width;
        display: flex;
        justify-content: flex-start;
        width: 100%;

        i {
          font-size: 0.3em;
          margin-left: 2em;
          margin-top: 2em;
        }
      }
      .clause-text {
        flex: 1;

        .subtitle {
          font-weight: bold;
          margin-bottom: 5px;
        }

        p {
          margin-top: 0;
        }
      }
    }
  }

  @media screen and (min-width: 800px) {
    .legal {
      padding-left: 0px;
      padding-right: 0px;
    }
  }
}
