.legal-section{
  margin-bottom: 100px;
  padding-left: $mobile-horizontal-padding;
  padding-right: $mobile-horizontal-padding;
}

.legal{
  counter-reset: section;
  max-width: 70ch;
  margin: 0 auto;


  ol{
    counter-reset: clause;
    list-style: none outside none;
    text-indent: -2em;

    li{
      counter-increment: clause;
      list-style: none outside none;
      text-indent: -2.3em;
      margin-bottom: 1em;
      margin-top:  2em;

      &:before{
        content: counters(clause, ".") ". ";
        margin: 0 0.5em 0 0;
      }

      p{
        padding-left: 2.4em;
      }

      ol{
        li{
          margin-top: 1em;
        }
      }
    }
  }


}


@media only screen and (min-width: 768px) {
  .legal-section{
    padding-left: $desktop-horizontal-padding;
    padding-right: $desktop-horizontal-padding;
  }

}
