.product-header-container {
  margin: 0 auto;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  height: 80px;
  padding-top: 100px;
  padding-bottom: 50px;
  box-sizing: border-box;
  background: $redeem-pink;

  .container {
    .row {
      .header-left {
        .logo {
          a {
            img {
              height: 24px;
            }
          }
        }
      }

      .header-right {
        nav {
          display: flex;
          flex-direction: row;
          align-items: center;
          justify-content: flex-start;

          ul {
            list-style-type: none;
            margin: 0;
            padding: 0;
            display: flex;
            flex-direction: column;

            li {
              padding: 0px;

              &:last-child {
                padding-right: 0;
              }

              &:last-child {
                padding-right: 0;
              }

              a {
                color: $redeem-blue;

                &.active {
                  text-decoration: underline;
                }
              }
            }
          }
        }
      }
    }
  }
}

@media screen and (min-width: 768px) {
  .product-header-container {
    padding-top: 50px;
    .container {
      .row {
        .header-left {
        }

        .header-right {
          nav {
            flex-direction: row;
            align-items: center;
            justify-content: flex-end;

            ul {
              display: flex;
              flex-direction: row;

              li {
                padding: 0px 20px;

                &:last-child {
                  padding-right: 0;
                }

                &:last-child {
                  padding-right: 0;
                }

                a {
                  color: $redeem-blue;
                }
              }
            }
          }
        }
      }
    }
  }
}

@media screen and (min-width: 992px) {
  .product-header-container {
    padding-top: 50px;
  }
}
