.faq-page {
  .product-header-container {
    background: $redeem-blue;

    .container {
      .row {
        .header-right {
          nav {
            ul {
              li {
                a {
                  color: white;
                }
              }
            }
          }
        }
      }
    }
  }
}

.button-back {
  background: none;
  a {
    display: flex;
    justify-content: center;
    align-items: center;
    background: none;
    font-weight: 500;
    color: $redeem-blue;

    img {
      width: 20px;
      margin-right: 0.5em;
    }

    &:hover {
      text-decoration: underline;
    }
  }
}
