.index-page{
  header{
    background: $redeem-pink;
    color: $redeem-blue;

    a{
      color: $redeem-blue;
    }

    .logo{
      height: 40px;

      a{
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;

        img{
          margin-right: 10px;
        }

        .logo-text{
          font-weight: 500;
          color: $redeem-blue;
          //
          // text-transform: uppercase;
          letter-spacing: .2px;
          font-size: 20px;
          vertical-align: baseline;
        }
      }

    }

  }

  section{
    &.intro-section{
      background: $redeem-pink;
      padding-left: $mobile-horizontal-padding;
      padding-right: $mobile-horizontal-padding;

      .admin-dashboard{
        margin: 0 auto;
        // position: relative;


          .admin-dashboard-image{
            text-align: center;
            width: 100%;
            height: 100%;
            margin: 0 auto;
            box-shadow: 0px 10px 20px rgba(0, 0, 0, 0.2);
            border-radius: 20px;
          }

          .admin-onerow-image{

          }

      }

      h1{
        font-size: 1.8em;
        color: $redeem-blue;
        text-align: center;
        max-width: 700px;
        margin: 0 auto;
        line-height: 1.2;
        padding-bottom: 30px;
      }

      h2{
        font-size: 1em;
        color: $redeem-blue;
        text-align: center;

      }

      h3{
        font-size: 1em;
        width: 100%;
        color: $redeem-blue;
        text-align: center;
        padding-top: 20px;
      }
    }

    &.stats-section{
      background: $redeem-white;
      padding-left: $mobile-horizontal-padding;
      padding-right: $mobile-horizontal-padding;
    }

    &.feature-section{
      background: $redeem-white;
      padding-top: 100px;
      padding-bottom: 100px;

      .each-feature-row{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;

        margin-bottom: 80px;

        &.reverse{
          flex-direction: column;
        }

        .desc-image{
          display: flex;
          justify-content: center;
          align-items: center;
          padding-left: $mobile-horizontal-padding;
          padding-right: $mobile-horizontal-padding;

          img{
            width: 100%;
          }
        }

        .desc-box{
          display: flex;
          flex-direction: column;
          padding-left: 30px;
          padding-right: 30px;

          justify-content: center;
          align-items: center;

          h3{
            width: 100%;
            font-size: 1.8em;
            color: $redeem-blue;
            margin-top: 50px;
            margin-bottom: 0;
            line-height: 1.2em;
          }

          p{
            width: 100%;
            color: $redeem-blue;
            font-size: 1.2em;
          }
        }
      }


    }

    &.type-section{
      background: $redeem-white;
      padding-left: $mobile-horizontal-padding;
      padding-right: $mobile-horizontal-padding;
    }

    &.articles-section{
      background: $redeem-pink;
      padding-left: $mobile-horizontal-padding;
      padding-right: $mobile-horizontal-padding;
    }

    &.start-campaign-section{
      background: $redeem-white;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;

      padding-top: 150px;
      padding-bottom: 200px;
      padding-left: $mobile-horizontal-padding;
      padding-right: $mobile-horizontal-padding;

      h3{
        font-size: 2.2em;
        text-align: center;
      }
    }
  }

}

.wave-container{
  background: $redeem-white;
  width: 100vw;
  padding: 0;
  margin: 0;
  img{
    width: 100%;
    margin-top: -5px;
  }
}


@media only screen and (min-width: 768px) {
  .index-page{
    header{

    }

    section{
      &.intro-section{
        padding-left: $desktop-horizontal-padding;
        padding-right: $desktop-horizontal-padding;
      }

      &.stats-section{
        padding-left: $desktop-horizontal-padding;
        padding-right: $desktop-horizontal-padding;
      }

      &.feature-section{
        padding-left: $desktop-horizontal-padding;
        padding-right: $desktop-horizontal-padding;


        .each-feature-row{
          flex-direction: row;

          padding-left: $desktop-horizontal-padding;
          padding-right: $desktop-horizontal-padding;

          &.reverse{
            flex-direction: row-reverse;
          }

          .desc-image{
            width: 50%;
          }

          .desc-box{
            width: 50%;

            h3{
              font-size: 2em;
            }

            p{
              font-size: 1.2em;
            }
          }
        }


      }

      &.type-section{
        background: $redeem-white;
        padding-left: $mobile-horizontal-padding;
        padding-right: $mobile-horizontal-padding;
      }

      &.articles-section{
        background: $redeem-pink;
        padding-left: $mobile-horizontal-padding;
        padding-right: $mobile-horizontal-padding;
      }

      &.start-campaign-section{
        background: $redeem-white;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;

        padding-top: 150px;
        padding-bottom: 200px;
        padding-left: $mobile-horizontal-padding;
        padding-right: $mobile-horizontal-padding;

        h3{
          font-size: 2.2em;
          max-width: 700px;
        }
      }
    }

  }

}



@media only screen and (min-width: 1024px) {
  .index-page{

    section{

      &.intro-section{
        h1{
          font-size: 2.6em;
          padding-bottom: 60px;
        }

        h2{
          font-size: 1.4em;
          padding-bottom: 20px;
        }

        h3{
          font-size: 1.4em;
          margin-top: 30px;
        }

      }

      &.feature-section{

        .each-feature-row{


          .desc-box{

            h3{
              font-size: 2.2em;
            }

            p{
              font-size: 1.4em;
            }
          }
        }
      }

    }

  }

}
