.index-page {
  .intro-section {
    padding-bottom: 4em;
    background-color: $primary-100;
    .container {
      .row {
        justify-content: center;
        align-items: center;

        h1 {
          color: $primary-500;
          margin-bottom: 16px;
        }

        .redeem-vouchers {
          display: flex;
          justify-content: center;
          align-items: center;
          padding: 1em;
          img {
            width: 100%;
          }
        }

        .floating {
          animation-name: floating;
          animation-duration: 5s;
          animation-iteration-count: infinite;
          animation-timing-function: ease-in-out;
          margin-top: 5px;
        }

        @keyframes floating {
          0% {
            transform: translate(0, 0px);
          }
          50% {
            transform: translate(0, 10px);
          }
          100% {
            transform: translate(0, -0px);
          }
        }
      }
    }
  }

  .users-section {
    padding-bottom: 4em;
    padding-top: 4em;
    .users {
      width: 100%;
      display: flex;
      flex-direction: column;
      justify-content: flex-start;
      align-items: center;
      text-align: center;
      .users-icon {
        width: 100%;
        padding-top: 110%; // hardcoded to be largest ratio of the images
        position: relative;
        margin-bottom: 24px;
        img {
          position: absolute;
          width: 100%;
          left: 0;
          bottom: 0;
          right: 0;
        }
      }
      .users-label {
        h2 {
          color: $primary-500;
          width: 100%;
          text-align: center;
          margin-bottom: 8px;
        }
        div {
          text-align: center;
        }
      }
    }
  }

  .how-it-works-section {
    padding-top: 2em;
    padding-bottom: 8em;
    background: $primary-100;
    .how-left {
      padding: 1em;
      margin-bottom: 3em;
      img {
        width: 100%;
      }
    }
    .how-right {
      padding-left: 1em;
      padding-right: 1em;

      h1 {
        color: $primary-500;
      }
      .steps {
        width: 100%;
        margin: 0 auto;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: flex-start;
        gap: 32px;
        margin-top: 2em;

        .each-step {
          box-sizing: border-box;
          display: flex;
          flex-direction: column;
          justify-content: flex-start;
          align-items: flex-start;
          gap: 24px;
          .step-image {
            img {
              width: 100px;
            }
          }
          .step-text {
            display: flex;
            flex-direction: column;
            justify-content: flex-start;
            align-items: flex-start;

            .step-header {
              display: flex;
              justify-content: flex-start;
              align-items: center;
              color: $primary-500;
              margin-bottom: 0.3em;
              .step-number {
                margin-left: 0.5em;
                width: 30px;
                height: 30px;
                color: white;
                background: $redeem-blue;
                border-radius: 50%;
                display: flex;
                justify-content: center;
                align-items: center;

                flex-grow: 0; /* do not grow   - initial value: 0 */
                flex-shrink: 0; /* do not shrink - initial value: 1 */
                flex-basis: 30px;
              }
            }
            h1 {
              font-size: 1.4rem;
              margin-bottom: 0.5em;
            }

            .step-description {
              font-size: 1.2em;
              // margin-top: 0.5em;
              // max-width: 20ch;

              h1 {
                text-align: left;
                font-size: 1.1em;
                margin: 0;
              }
            }
          }
        }
        @media (min-width: 768px) {
          .each-step {
            flex-direction: row;
          }
        }
      }

      .check-faq {
        margin: 0 auto;
        margin-top: 2em;
        // max-width: 60 ch;
      }
    }
  }

  .statistics-section {
    padding-bottom: 4em;
    padding-top: 4em;
    .container {
      .stats-header {
        margin-bottom: 40px;
        color: $primary-500;
      }
      .stats-item-header {
        color: $primary-700;
      }
    }
  }

  .faq-section {
    padding-bottom: 4em;
    padding-top: 4em;
    background-color: $primary-500;
    .container {
      display: flex;
      flex-direction: column;
      align-items: center;
      gap: 32px;
      img {
        width: 100px;
      }
      .faq-header h2 {
        color: $primary-100;
        text-align: center;
      }
      .faq-element {
        color: $primary-100;
      }
      .button-blue {
        a {
          display: block;
          color: #ffffff;
          border: 1px solid #ffffff;
          box-sizing: border-box;
          border-radius: 4px;
          padding: 10px 16px;
        }
        a:hover {
          background: #ffffff;
          color: #505798;
          border: 1px solid #505798;
        }
      }
    }
  }
}
