.index-page{
  header{
    background: $redeem-pink;
    color: $redeem-blue;

    a{
      color: $redeem-blue;
    }
  }

  section{
    &.intro-section{
      background: $redeem-pink;
      padding-left: $mobile-horizontal-padding;
      padding-right: $mobile-horizontal-padding;
    }

    &.stats-section{
      background: $redeem-white;
      padding-left: $mobile-horizontal-padding;
      padding-right: $mobile-horizontal-padding;
    }

    &.feature-section{
      background: $redeem-white;



      .each-feature-row{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;

        margin-bottom: 80px;

        &.reverse{
          flex-direction: column;
        }

        .desc-image{
          display: flex;
          justify-content: center;
          align-items: center;
          padding-left: $mobile-horizontal-padding;
          padding-right: $mobile-horizontal-padding;

          img{
            width: 100%;
          }
        }

        .desc-box{
          display: flex;
          flex-direction: column;
          padding-left: 60px;
          padding-right: 60px;

          justify-content: center;
          align-items: center;

          h3{
            width: 100%;
            font-size: 1.8em;
            color: $redeem-blue;
            margin-top: 80px;
            margin-bottom: 0;
            line-height: 1.2em;
          }

          p{
            width: 100%;
            color: $redeem-blue;
            font-size: 1.2em;
          }
        }
      }


    }

    &.type-section{
      background: $redeem-white;
      padding-left: $mobile-horizontal-padding;
      padding-right: $mobile-horizontal-padding;
    }

    &.articles-section{
      background: $redeem-pink;
      padding-left: $mobile-horizontal-padding;
      padding-right: $mobile-horizontal-padding;
    }

    &.start-campaign-section{
      background: $redeem-white;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;

      padding-top: 150px;
      padding-bottom: 200px;
      padding-left: $mobile-horizontal-padding;
      padding-right: $mobile-horizontal-padding;

      h3{
        font-size: 2.2em;
        text-align: center;
      }
    }
  }

}

.wave-container{
  background: $redeem-white;
  width: 100vw;
  padding: 0;
  margin: 0;
  img{
    width: 100%;
    margin-top: -5px;
  }
}


@media only screen and (min-width: 768px) {
  .index-page{
    header{

    }

    section{
      &.intro-section{
        padding-left: $desktop-horizontal-padding;
        padding-right: $desktop-horizontal-padding;
      }

      &.stats-section{
        padding-left: $desktop-horizontal-padding;
        padding-right: $desktop-horizontal-padding;
      }

      &.feature-section{
        padding-left: $desktop-horizontal-padding;
        padding-right: $desktop-horizontal-padding;


        .each-feature-row{
          flex-direction: row;

          padding-left: $desktop-horizontal-padding;
          padding-right: $desktop-horizontal-padding;

          &.reverse{
            flex-direction: row-reverse;
          }

          .desc-image{
            width: 50%;
          }

          .desc-box{
            width: 50%;

            h3{
              font-size: 2em;
            }

            p{
              font-size: 1.2em;
            }
          }
        }


      }

      &.type-section{
        background: $redeem-white;
        padding-left: $mobile-horizontal-padding;
        padding-right: $mobile-horizontal-padding;
      }

      &.articles-section{
        background: $redeem-pink;
        padding-left: $mobile-horizontal-padding;
        padding-right: $mobile-horizontal-padding;
      }

      &.start-campaign-section{
        background: $redeem-white;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;

        padding-top: 150px;
        padding-bottom: 200px;
        padding-left: $mobile-horizontal-padding;
        padding-right: $mobile-horizontal-padding;

        h3{
          font-size: 2.2em;
          max-width: 700px;
        }
      }
    }

  }

}



@media only screen and (min-width: 1024px) {
  .index-page{

    section{


      &.feature-section{

        .each-feature-row{


          .desc-box{

            h3{
              font-size: 2.2em;
            }

            p{
              font-size: 1.4em;
            }
          }
        }
      }

    }

  }

}
