h1,
h2,
h3,
h4,
h5,
h6 {
  font-feature-settings: "tnum" on, "lnum" on, "cv05" on;
  margin: 0;
  padding: 0;
  text-align: left;
}

h1 {
  font-size: 2.8rem;
  line-height: 1.1em;
  margin-bottom: 2rem;
}

h2 {
  font-style: normal;
  font-weight: 600;
  font-size: 28px;
  line-height: 36px;
  letter-spacing: -0.02em;
}

h3 {
  font-size: 1.8rem;
  line-height: 1.3em;
  margin-bottom: 1rem;
}

h4 {
  font-size: 1.5rem;
  line-height: 1.3em;
  margin-bottom: 1rem;
}

h5 {
  font-size: 1.2rem;
  line-height: 1.4em;
  margin-bottom: 1rem;
}

h6 {
  font-size: 1rem;
  line-height: 1.4em;
  margin-bottom: 1rem;
}

@mixin display-1 {
  font-style: normal;
  font-weight: bold;
  font-size: 64px;
  line-height: 72px;
  letter-spacing: -0.022em;
  font-feature-settings: "cv05" on;
}
.display-1 {
  @include display-1;
}
@mixin display-2 {
  font-size: 40px;
  font-style: normal;
  font-weight: 600;
  line-height: 48px;
  letter-spacing: -0.022em;
  text-align: left;
  /* identical to box height, or 120% */
  letter-spacing: -0.022em;
  font-feature-settings: "cv05" on;
}
.display-2 {
  /* display-2 mobile */
  font-style: normal;
  font-weight: 600;
  font-size: 32px;
  line-height: 40px;
  text-align: center;
  letter-spacing: -0.017em;
  font-feature-settings: "cv05" on;
  /* on larger screens */
  @media (min-width: 576px) {
    @include display-2;
  }
}
.subhead-3 {
  font-style: normal;
  font-weight: 600;
  font-size: 14px;
  line-height: 24px; /* or 171% */
  letter-spacing: 0.08em;
  text-transform: uppercase;
  font-feature-settings: "tnum" on, "lnum" on, "cv05" on;
}
