$redeem-pink: #ffe1ec;
$redeem-blue: #303778;
$redeem-white: #fcfdff;
$redeem-lightblue: #198df5;
$body-text: #2d3138;

$redeem-bg: #e5e5e5;
$primary-100: #f6f7fa;
$primary-200: #dfe1f2;
$primary-500: #505798;
$primary-600: #31377c;
$primary-700: #2f3476;

$secondary-500: #445072;
